<strong><%= Comment.model_name.human %>:</strong>
<% if comments.any? %>
  <ul>
    <% comments.each do |comment| %>
      <% if comment.persisted? %>
        <li>
          <%= comment.content %>
          <small>
            <% if comment.user.nil? %>
              (<%= t('views.common.withdrawn') %> - <%= l comment.created_at, format: :short %>)
            <% else %>
              (<%= link_to comment.user.name_or_email, comment.user %> - <%= l comment.created_at, format: :short %>)
            <% end %>
          </small>
          <% if current_user == comment.user %>
            <%= button_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_path([commentable, comment]), method: :delete %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  (<%= t('.no_comments') %>)
<% end %>
